body{
    background: #ccc;
}

#h1{
    color: orange;
}

.img {
    height: 200px;
    width: 500px;
}

.post{
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}
 
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}